@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 75%;
    color:  #333333;

    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    max-width: 1280px;
    max-height: 720px;
}

hr {
    z-index: 1;
    height: 0.1px;
    border: none;
    background: #333333;
}

.avatar_line {
    position: relative;
    top: 13%;
}

.center {
    background-color: #e8e8e855;
    border-radius: 8px;
    padding: 32px 0 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 380px;
    height: 600px;
    margin: -316px 0 0 -190px;
    animation: center 1.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    perspective: 600px;
}

.centerimg {
    width: 340px;
    height: 340px;
    z-index: 999;
    position: relative;
    border: #212121 solid 0.2px;
    border-radius: 50%;
}

.social {
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}

.social:hover {
    width: 82px;
    margin-top: 0;
    margin-right: 1px;
    margin-left: 1px;
}

.social:active {
    width: 78px;
    margin-top: 4px;
    margin-right: 3px;
    margin-left: 3px;
}

a {text-decoration: none}
a:hover {color:  #990100}
a:active {color:  #b90504}

@keyframes center {
    from {
        top: 75%;
        transform:  rotateX(90deg);
        opacity: 0%;
    }
    to {
        top: 50%;
        transform:  rotateX(0deg);
        opacity: 100%;
    }
}

#toast {
    position: absolute;
    width: 20%;
    height: 4%;
    border-radius: 8px;
    background-color: #333333aa;
    left: 40%;
    padding: 8px;
    color: #fff;
    font-size: 200%;
    top: 85%;
    opacity: 0%;
}
